/*--------------------------------------------------------------
- Animations
--------------------------------------------------------------*/
@keyframes fade-up-and-in {
	0% {
    opactiy: 0;
    padding-top: 2.25rem;
  }
  100% {
    opacity: 1;
    padding-top: 0;
  }
}

@keyframes button-flash {
  50% {
    background-color: palette(grey,lighter);
    color: palette(grey);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}