/*--------------------------------------------------------------
- Content
--------------------------------------------------------------*/

.page__header {
  box-shadow:
    inset 0 10px 10px -10px palette(grey),
    inset 0 -10px 10px -10px palette(grey);

  @include linear-gradient(
    to right,
    palette(green),
    palette(red),
    $fallback:palette(green)
  );
}

.page__title {
  color: palette(grey,lighter);
  line-height: 1;
  margin: 0 auto;
  padding: 1.5rem 1rem;

  @include mq(bp(alpha)) {
    font-size: modular-scale(1em,5,1.5);
    max-width: 60rem;
    opacity: 0;
    padding: modular-scale(1rem,4,1.5) 1rem;
    text-align: center;

    @include animation(fade-in 1s 0.5s ease-out forwards);
  }
}

.page__wrapper {
  @include grid($type:wrapper);

  & .page__wrapper {
    max-width: 100%;
    padding: 0;
  }
  // elements contained within the wrapper, such as
  // .page__left and .page__right, are defined in
  // '_global.scss'
}

.page__inner-heading {
  margin-bottom: 0.5rem;
}


// WP default styles...these may be removed at some point
//   as they are almost definitely going unused.
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}