/*--------------------------------------------------------------
- Reset
--------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	overflow-y: scroll; // Keeps page centered in all browsers regardless of content height
	-webkit-text-size-adjust: 100%; // Prevents iOS text size adjust after orientation change, without disabling user zoom
	-ms-text-size-adjust:     100%; // www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
	background: palette(grey,lighter);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol, ul {
	list-style: none;
}

table { // tables still need 'cellspacing="0"' in the markup
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
- Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: palette(grey);
	font: {
    family: $f-sans;
    weight: 300;
  }
	font-size: 1em;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  line-height: 1;
}

//  Headers
//  =======
//  These silent classes are designed to provide a framework to build on.
//  
//  If you have no further edits to make to the styling, use the normal
//    class name (.h1,.h2,etc.)

h1,
.h1,
%h1 {
  font: {
    size: modular-scale(1em,2,1.5);
    weight: 100;
  }
  text-transform: lowercase;

  @include mq(bp(alpha)) {
    font-size: modular-scale(1em,3,1.5);
  }
}

h2,
.h2,
%h2 {
  font: {
    size: modular-scale(1em,1,1.5);
    weight: 700;
  }
  // no text-transform here; preserve the original capitalization

  @include mq(bp(alpha)) {
    font-size: modular-scale(1em,2,1.5);
  }
}

h3,
.h3,
%h3 {
  font: {
    family: $f-cond;
    size: modular-scale(1em,1,1.25);
    weight: 700;
  }
  text-transform: uppercase;

  @include mq(bp(alpha)) {
    font-size: modular-scale(1em,1,1.5);
  }
}

h4,
.h4,
%h4 {
  font: {
    size: modular-scale(1em,1,1.25);
    weight: 700;
  }
  // no text-transform here; preserve the original capitalization
}

h5,
.h5,
%h5 {
  font: {
    size: modular-scale(1em,0,1.5);
    weight: 700;
  }
  text-transform: uppercase;
}

h6,
.h6,
%h6 {
  font: {
    family: $f-cond;
    size: modular-scale(1em,0,1.5);
    weight: 700;
  }
  text-transform: uppercase;
}

p {
	margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(bp(alpha)) {
    font-size: modular-scale(1em,1,1.5);
  }
}

b, strong {
	font-weight: 700;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
  border-left: 0.25rem solid palette(green);
  color: palette(grey,light);
  font: {
    size: modular-scale(1em,1,1.25);
    style: italic;
    weight: 300;
  }
	margin: 0;
  padding-left: 1rem;

  @include mq(bp(alpha)) {
    border-left-width: 0.5rem;
    font-size: modular-scale(1em,1,1.5);
  }
}

address {
	margin: 0 0 1.5rem;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 1em;
	line-height: 1.6;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font: 0.9rem Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 0.75em;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 0.75em;
}

big {
	font-size: 1.25em;
}

/*--------------------------------------------------------------
- Elements
--------------------------------------------------------------*/
hr {
	border: 0;
	height: 0.125rem;
	margin: 0 0 1rem;
  padding: 0 1rem;
  width: 100%;

  @include linear-gradient(
    to right,
    palette(green),
    palette(red),
    $fallback:palette(green)
  );

  @include mq(bp(alpha)) {
    margin: 1.5rem 0 0;
  }
}

ul, ol {
	margin: 0 0 1.5rem 3rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5rem 1.5rem;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5rem;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
- Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
	*vertical-align: middle; // Improves appearance and consistency in IE6/IE7
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; // Improves usability and consistency of cursor style between image-type 'input' and others
	-webkit-appearance: button; // Corrects inability to style clickable 'input' types in iOS
	font-size: 0.75em;
	line-height: 1;
	padding: 0.6rem 1rem 0.4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; // Addresses excess padding in IE8/9
}

input[type="search"] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	-webkit-box-sizing: content-box; // Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { // Corrects inner padding displayed oddly in S5, Chrome on OSX
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	padding-left: 3px;
	vertical-align: top; // Improves readability and alignment in all browsers
	width: 98%;
}

/*--------------------------------------------------------------
- Links
--------------------------------------------------------------*/
.page__wrapper {
  a {
  border-bottom: 1px dotted palette(green);
	color: palette(green);
  text-decoration: none;
  }

  a:visited {
  	color: palette(green);
    text-decoration: none;
  }

  a:hover,
  a:focus {
    border-bottom-color: palette(red);
  	color: palette(red);
  }

  a:active {
    border-bottom: 1px solid palette(red);
    color: palette(red);
  }
}

//  Buttons
//  =======
//  To use, simply apply the .btn class.
//  
//  To modify, please @extend the %btn silent class.
//    - Exemption: changing single properties in specific ways. See: homepage.scss

a.btn,
.btn,
%btn {
  border: 3px solid palette(grey,lighter);
  border-radius: 7px;
  color: palette(grey,lighter);
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin: 0 modular-scale(1rem,3,1.25);
  padding:
    modular-scale(1rem,0,1.25)
    modular-scale(1rem,2,1.25);
  text: {
    decoration: none;
    transform: uppercase;
  }
  
  @include transition(all 200ms ease);

  &:hover,
  &:focus {
    background: palette(grey,lighter);
    border-bottom-color: palette(grey,lighter);
    color: palette(grey);

    @include transition(all 200ms ease);
  }

  &:active {
    background: darken(palette(grey,lighter),5%);
    border: {
      bottom-style: solid;
      bottom-width: 3px;
      color: darken(palette(grey,lighter),5%);
    }
    color: lighten(palette(grey),10%);

    @include transition(all 200ms ease);
  }

  &:visited {
    color: palette(grey,lighter);
  }
}

/*--------------------------------------------------------------
- Alignments
--------------------------------------------------------------*/

// Grid Settings
// =============
// For an explanation of how this mixin should be used,
//	 consult '_grids.scss'

.page__right {
  @include grid($direction:right,$flow:normal);
}

.page__left {
  @include grid($direction:left,$flow:normal);
}

.page__right--reverse {
  @include grid($direction:right,$flow:reverse);
}

.page__left--reverse {
  @include grid($direction:left,$flow:reverse);
}

.page__right--half {
  @include grid($direction:right,$flow:half);
}

.page__left--half {
  @include grid($direction:left,$flow:half);
}

.page__center {
  @include grid($direction:center,$flow:full);
}

.text-center {
  text-align: center;
}
// end grid settings

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5rem;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
- Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
- Accessibility
--------------------------------------------------------------*/
// Text meant only for screen readers
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; // Above WP toolbar
}