/*--------------------------------------------------------------
- Das Grid
--------------------------------------------------------------*/

// Intro
// =====
// The aim for this grid is to increase readability and provide for
//   a more modular approach to organizing the webpage.
//
// The setup is fairly straightforward: there are two primary content
//   areas, one 1/3 width and one 2/3 width. You can reverse the flow
//   or split into even halves if needed. There is also a full-width
//   setting for situations that require it (images, blockquotes, etc).
//
// All available variables in the mixin default to 'null' so you only
//   need to reference what is absolutely necessary for your specific
//   scenario (example: only needing to setup the right content area
//   and nothing else).
//
// Further notes and use examples will be given in context.

@mixin grid($type:null,$direction:null,$flow:null) {

  @if $type == wrapper { // this is our page wrapper
    
    margin: 1rem auto 0;
    padding: 0 1rem;
    width: 100%;

    @include clearfix;
    @include mq(bp(alpha)) {
      margin: modular-scale(1rem,2,1.5) auto 0;
      max-width: 60rem;
    }

    // It's important to note here the the wrapper is in charge of
    //   setting up the margins and padding for the contained elements.
    //
    // By resetting child wrappers' paddings (margins should persist
    //   to maintain vertical spacing), this allows us to easily nest
    //   elements without doing multiple resets all the way down the chain.
    //
    // ----------------------------------------------------------------
    //
    // To reset child wrappers' paddings, nest the following code within
    //   '.page__wrapper' in '_content.scss'. This selector targets all
    //   nested '.page__wrapper's.
    //
    // & .page__wrapper {
    //   max-width: 100%; (overrides max-width of 60rem)
    //   padding: 0; (removes all parent padding)
    // }

  } // end wrapper conditional

  @if ($direction == right and $flow == normal) or ($direction == left and $flow == reverse) {
    
    @include mq(bp(alpha)) {  
      float: #{$direction};
      width: 66.6667%;
    }

    // This is our main content area. The important thing to note is that
    //   regardless of floated direction, the width is 2/3 of the wrapper*.
    //
    // * See exception below.

  } // end main content conditionals
    

  @if ($direction == left and $flow == normal) or ($direction == right and $flow == reverse) {
    
    @include mq(bp(alpha)) {
      float: #{$direction};
      width: 31.3333%;

      // extra '@if' statement to determine inside margin
      @if $direction == left {
        margin-right: 2%;
      } @else if $direction == right {
        margin-left: 2%;
      }
    }

    // This is our secondary content area. This will always be 1/3 the
    //   width of the wrapper*. This secondary area should never be used
    //   by itself. It should always accompany the main content area.
    //
    // * See exception below.

  } // end secondary content conditionals


  // * This is the exception
  @if ($direction == right and $flow == half) or ($direction == left and $flow == half) {

    @include mq(bp(alpha)) {
      float: #{$direction};
      width: 49%;

      // extra '@if' statement to determine inside margin
      @if $direction == left {
        margin-right: 1%;
      } @else if $direction == right {
        margin-left: 1%;
      }
    }

    // This section of the mixin should only be invoked if you
    //   are using BOTH the right and left sides. Otherwise,
    //   use the 2/3 + 1/3 pattern above.

  } // end half-width conditionals

  @if $direction == center and $flow == full {

    @include mq(bp(alpha)) {
      margin: 0 auto;
      width: 100%;
    }

    // Just a little pattern for using a full-width container.
    //   There should never, EVER be other containers nested
    //   directly under this container. Always nest in
    //   a '.page__wrapper'.
    //
    // This is primarily used for an image/figure, blockquote,
    //   or something similar that needs emphasis or to stand out.

  } // end center conditional

}