/*--------------------------------------------------------------
- Header
--------------------------------------------------------------*/

.site__header {
  padding: 1rem;
  @include clearfix;

  @include mq(bp(alpha)) {
    padding: 0.5rem 1rem 1rem;
  }
}

.site__title {
  color: palette(grey);
  display: block;
  font-size: modular-scale(1em,1,1.25);
  float: left;
  text-decoration: none;

  &:visited {
    color: palette(grey);
  }

  @include mq(bp(alpha)) {
    font-size: modular-scale(1em,2,1.5);
    opacity: 0;

    @include animation(fade-in 1s 0.5s ease-out forwards);

    &:hover, &:focus {
      color: palette(green);
    }
    &:active {
      color: palette(grey,light);
    }

    &:hover span,
    &:focus span {
      color: palette(red);
    }
    &:active span {
      color: palette(grey,light);
    }
  }
}

/*--------------------------------------------------------------
- Menus
--------------------------------------------------------------*/

//mobile navigation controller
.main-nav__controller--open,
.main-nav__controller--close {
  border: 1px solid palette(grey);
  border-radius: 7px;
  color: palette(grey);
  display: block;
  font: {
    size: modular-scale(1em,1,1.25);
    weight: 300;
  }
  float: right;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  text: {
    decoration: none;
    transform: uppercase;
  }

  &:visited { color: palette(grey); }

  @include mq(bp(alpha)) {
    display: none;
    visibility: hidden;
  }
}

.main-nav__controller--close {
  border-color: palette(green);
  color: palette(green);
  display: none;
  font-weight: 400;

  &:hover, &:focus { color: palette(green); }
  &:visited { color: palette(green); }
}

.main-nav .menu {
  float: right;
  list-style-type: none;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  @include mq(bp(alpha)) {
    height: auto;
    margin-top: 0.25rem;
    opacity: 0;
    overflow: visible;
    width: auto;

    @include animation(fade-in 1s 0.5s ease-out forwards);
  }
}

.main-nav__item {
  margin-top: 0.5rem;
  text-align: right;

  @include mq(bp(alpha)) {
    display: inline-block;
    text-align: left;
  }

  & > a {
    color: palette(grey);
    font: {
      family: $f-cond;
      size: modular-scale(1em,1,1.25);
    }
    text: {
      decoration: none;
      transform: uppercase;
    }

    &:active { color: palette(grey,light); }
    &:visited { color: palette(grey); }

    @include mq(bp(alpha)) {
      font: {
        family: $f-sans;
        size: modular-scale(1em,1,1.5);
        weight: 300;
      }
      padding: 0.25rem 0.5rem;
      margin: 0 0.5rem;
      text: {
        decoration: none;
        transform: lowercase;
      }

      &:last-child { margin-right: 0; }
      &:hover, &:focus {
        border-bottom: 1px solid palette(green);
        color: palette(green);
      }
      &:active {
        border-bottom-color: palette(red);
        color: palette(red);
      }
      /*&:visited {
        color: palette(grey);
      }*/
    }
  }
}

.main-nav__item--donate > a {
  color: palette(red);
  font-weight: 400;

  &:visited { color: palette(red); }
}

.main-nav__item--donate.current-menu-item > a:active {
  color: palette(red);
}

.current-menu-item > a {
  border-bottom: 1px solid palette(green);
  color: palette(green);

  &:active { color: palette(red); }
  &:visited { color: palette(green); }
}

/*

  Mobile Nav Control
  ==================
  The following section of code swaps the nav controller
    buttons and displays the menu.
  On screen sizes >48em, menu is always displayed.

*/

#masthead:target {
  .main-nav__controller--open { display: none; }
  .main-nav__controller--close { display: block; }

  .main-nav .menu {
    height: auto;
  }

  @include mq(bp(alpha)) {
    .main-nav__controller--open,
    .main-nav__controller--close { display: none; }
  }
}