/*--------------------------------------------------------------
- Variables
--------------------------------------------------------------*/

// SECTIONS:
// =========
// +breakpoints
// +colors
// +fonts
// +functions
// +mixins

// grid settings are stored in _grid.scss
// animations are stored in _animations.scss

// ---------------------------------------------------------- //

//+breakpoints
$bp: (
  alpha:  48em,
  beta:   60em
);

//+colors
$c-grey-base: #333333;
$palettes: ( //based on a tetrad scheme
  green: (
    base:    #34cf7c,
    dark:    #449b6d,
    darker:  #118747,
    light:   #65e7a1,
    lighter: #88e7b4
  ),
  blue: (
    base:    #3896c3,
    dark:    #447992,
    darker:  #125b7f,
    light:   #69bae1,
    lighter: #89c4e1
  ),
  orange: (
    base:    #ffa640,
    dark:    #bf8d54,
    darker:  #a66215,
    light:   #ffbd70,
    lighter: #ffce96
  ),
  red: (
    base:    #ff6b40,
    dark:    #bf6c54,
    darker:  #a63515,
    light:   #ff9070,
    lighter: #ffae96
  ),
  grey: (
    base:    $c-grey-base,
    dark:    darken($c-grey-base,7%),
    darker:  darken($c-grey-base,15%),
    light:   lighten($c-grey-base,38.5%),
    lighter: #fefefe
  )
);

//+fonts
$f-sans: 'Roboto', sans-serif;
$f-cond: 'Roboto Condensed', sans-serif;

//+functions
@function palette($palette,$tone:'base') {
  @return map-get(map-get($palettes,$palette),$tone);
}

@function bp($point: 'alpha') {
  @return map-get($bp,$point);
}

//+mixins
@mixin mq($point) {
  @media (min-width:$point) { @content; }
}

@mixin debug { //used to highlight element blocks
  border: 1px solid red;
}