/*--------------------------------------------------------------
- Homepage
--------------------------------------------------------------*/

@import "bourbon";
@import "vars";
@import "animations";

html {
  margin: 0;
  text-align: center;
  
  @include linear-gradient(to right,palette(green),palette(red),$fallback:palette(grey));
}

body {
  background: none;
  color: palette(grey,lighter);
  line-height: 1;
}

header,
footer {
  display: none;
  visibility: hidden;
}

.entry-content {
  margin: 0;
}

.wordmark {
  font: {
    size: modular-scale(1em,5,1.5);
    weight: 100;
  }
  margin: modular-scale(1rem,5,1.5) auto 0;
  opacity: 0;
  
  @include animation(fade-up-and-in 1s 500ms ease-out forwards);
}

.tagline {
  font: {
    family: $f-sans;
    size: modular-scale(1em,2,1.5);
    style: italic;
    weight: 400;
  }
  letter-spacing: 0.1rem;
  margin: modular-scale(1rem,2,1.5) auto 0;
  opacity: 0;
  text-transform: uppercase;
  word-spacing: 0.25rem;
  
  @include animation(fade-up-and-in 1s 500ms ease-out forwards);
}

.account-buttons {
  margin: modular-scale(1rem,5,1.5) auto;
  opacity: 0;
  
  @include animation(fade-up-and-in 1s 1s ease-out forwards);
}

.btn:nth-of-type(1) {
  @include animation(button-flash 500ms 3.5s ease-out);
  
  &:hover,
  &:focus {
    color: palette(green);
  }
  
  &:active {
    color: darken(palette(green),5%);
  }
}

.btn:nth-of-type(2) {
  @include animation(button-flash 500ms 4s ease-out);
  
  &:hover,
  &:focus {
    color: palette(red);
  }

  &:active {
    color: darken(palette(red),5%);
  }
}

section {
  margin: 0;
  padding: 0;
}

.server-title {
  font: {
    size: modular-scale(1em,1,1.5);
    style: italic;
    weight: 400;
  }
  margin: 0 auto;
  opacity: 0;
  padding: 0;

  @include animation(fade-up-and-in 1s 1.5s ease-out forwards);
}

.server-ip {
  font: {
    size: modular-scale(1em,2,1.5);
    weight: 300;
  }
  margin: 0.25rem auto 2.25rem;
  opacity: 0;

  @include animation(fade-up-and-in 1s 1.5s ease-out forwards);
}

.social-media {
  margin-top: modular-scale(1rem,4,1.5);
  opacity: 0;

  @include animation(fade-up-and-in 1s 2s ease-out forwards);
}

a.social-media__icon {
  border: 0;
  color: palette(grey,lighter);
  margin: 0 1.5rem 1.5rem;
  padding: 0;

  &:hover,
  &:focus {
    border: 0;
    color: palette(grey);
  }

  &:active {
    border: 0;
    color: lighten(palette(grey),25%);
  }

  &:visited {
    color: palette(grey,lighter);
  }
}