/*!
Theme Name: wp-synergygaming
Theme URI: http://underscores.me/
Author: bobby showalter
Author URI: http://bshow.co
Description: Custom WP Theme for Synergy Gaming
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: wp-synergygaming
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 wp-synergygaming is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/

Does this look like robot-barf to you? This stylesheet was assembled using SASS <sass-lang.com>.
Those files are much more readable and available on bitbucket: <https://bitbucket.org/synergygaming/wp-synergygaming>.
*/@-webkit-keyframes fade-up-and-in{0%{opactiy:0;padding-top:2.25rem}100%{opacity:1;padding-top:0}}@keyframes fade-up-and-in{0%{opactiy:0;padding-top:2.25rem}100%{opacity:1;padding-top:0}}@-webkit-keyframes button-flash{50%{background-color:#fefefe;color:#333}}@keyframes button-flash{50%{background-color:#fefefe;color:#333}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{background:#fefefe}article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}table{border-collapse:separate;border-spacing:0}caption,td,th{font-weight:400;text-align:left}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}a:focus{outline:thin dotted}a:active,a:hover{outline:0}a img{border:0}body,button,input,select,textarea{color:#333;font-family:Roboto,sans-serif;font-weight:300;font-size:1em;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;line-height:1}.h1,h1{font-size:2.25em;font-weight:100;text-transform:lowercase}@media (min-width:48em){.h1,h1{font-size:3.375em}}.h2,h2{font-size:1.5em;font-weight:700}@media (min-width:48em){.h2,h2{font-size:2.25em}}.h3,h3{font-family:"Roboto Condensed",sans-serif;font-size:1.25em;font-weight:700;text-transform:uppercase}@media (min-width:48em){.h3,h3{font-size:1.5em}}.h4,h4{font-size:1.25em;font-weight:700}.h5,h5{font-size:1em;font-weight:700;text-transform:uppercase}.h6,h6{font-family:"Roboto Condensed",sans-serif;font-size:1em;font-weight:700;text-transform:uppercase}p{margin-bottom:1.5rem}p:last-child{margin-bottom:0}@media (min-width:48em){p{font-size:1.5em}}b,strong{font-weight:700}cite,dfn,em,i{font-style:italic}blockquote{border-left:.25rem solid #34cf7c;color:#959595;font-size:1.25em;font-style:italic;font-weight:300;margin:0;padding-left:1rem}@media (min-width:48em){blockquote{border-left-width:.5rem;font-size:1.5em}}address{margin:0 0 1.5rem}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:1em;line-height:1.6;margin-bottom:1.6rem;max-width:100%;overflow:auto;padding:1.6rem}code,kbd,tt,var{font:.9rem Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}sub,sup{font-size:.75em;height:0;line-height:0;position:relative;vertical-align:baseline}sup{bottom:1ex}sub{top:.5ex}small{font-size:.75em}big{font-size:1.25em}hr{border:0;height:.125rem;margin:0 0 1rem;padding:0 1rem;width:100%;background-color:#34cf7c;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#34cf7c),color-stop(100%,#ff6b40));background-image:-webkit-linear-gradient(left,#34cf7c,#ff6b40);background-image:-webkit-gradient(linear,top left,top right,from(#34cf7c),to(#ff6b40));background-image:-webkit-linear-gradient(left,#34cf7c,#ff6b40);background-image:linear-gradient(to right,#34cf7c,#ff6b40)}@media (min-width:48em){hr{margin:1.5rem 0 0}}ol,ul{margin:0 0 1.5rem 3rem}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5rem}dt{font-weight:700}dd{margin:0 1.5rem 1.5rem}img{height:auto;max-width:100%}figure{margin:0}table{margin:0 0 1.5rem;width:100%}th{font-weight:700}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid #ccc;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);color:rgba(0,0,0,.8);cursor:pointer;-webkit-appearance:button;font-size:.75em;line-height:1;padding:.6rem 1rem .4rem;text-shadow:0 1px 0 rgba(255,255,255,.8)}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02);box-shadow:inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02)}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb;-webkit-box-shadow:inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15)}input[type=checkbox],input[type=radio]{padding:0}input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=email],input[type=password],input[type=search],input[type=text],input[type=url],textarea{color:#666;border:1px solid #ccc;border-radius:3px}input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=text]:focus,input[type=url]:focus,textarea:focus{color:#111}input[type=email],input[type=password],input[type=search],input[type=text],input[type=url]{padding:3px}textarea{overflow:auto;padding-left:3px;vertical-align:top;width:98%}.page__wrapper a{border-bottom:1px dotted #34cf7c;color:#34cf7c;text-decoration:none}.page__wrapper a:visited{color:#34cf7c;text-decoration:none}.page__wrapper a:focus,.page__wrapper a:hover{border-bottom-color:#ff6b40;color:#ff6b40}.page__wrapper a:active{border-bottom:1px solid #ff6b40;color:#ff6b40}.btn,a.btn{border:3px solid #fefefe;border-radius:7px;color:#fefefe;font-weight:900;letter-spacing:.1rem;margin:0 1.95313rem;padding:1rem 1.5625rem;text-decoration:none;text-transform:uppercase;-webkit-transition:all 200ms ease;transition:all 200ms ease}.btn:focus,.btn:hover,a.btn:focus,a.btn:hover{background:#fefefe;border-bottom-color:#fefefe;color:#333;-webkit-transition:all 200ms ease;transition:all 200ms ease}.btn:active,a.btn:active{background:#f1f1f1;border-bottom-style:solid;border-bottom-width:3px;border-color:#f1f1f1;color:#4d4d4d;-webkit-transition:all 200ms ease;transition:all 200ms ease}.btn:visited,a.btn:visited{color:#fefefe}@media (min-width:48em){.page__right{float:right;width:66.6667%}}@media (min-width:48em){.page__left{float:left;width:31.3333%;margin-right:2%}}@media (min-width:48em){.page__right--reverse{float:right;width:31.3333%;margin-left:2%}}@media (min-width:48em){.page__left--reverse{float:left;width:66.6667%}}@media (min-width:48em){.page__right--half{float:right;width:49%;margin-left:1%}}@media (min-width:48em){.page__left--half{float:left;width:49%;margin-right:1%}}@media (min-width:48em){.page__center{margin:0 auto;width:100%}}.text-center{text-align:center}.alignleft{display:inline;float:left;margin-right:1.5rem}.alignright{display:inline;float:right;margin-left:1.5rem}.aligncenter{clear:both;display:block;margin:0 auto}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:'';display:table}.clear:after,.comment-content:after,.entry-content:after,.site-content:after,.site-footer:after,.site-header:after{clear:both}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important}.screen-reader-text:active,.screen-reader-text:focus,.screen-reader-text:hover{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.site__header{padding:1rem;*zoom:1}.site__header:after,.site__header:before{content:" ";display:table}.site__header:after{clear:both}@media (min-width:48em){.site__header{padding:.5rem 1rem 1rem}}.site__title{color:#333;display:block;font-size:1.25em;float:left;text-decoration:none}.site__title:visited{color:#333}@media (min-width:48em){.site__title{font-size:2.25em;opacity:0;-webkit-animation:fade-in 1s .5s ease-out forwards;animation:fade-in 1s .5s ease-out forwards}.site__title:focus,.site__title:hover{color:#34cf7c}.site__title:active{color:#959595}.site__title:focus span,.site__title:hover span{color:#ff6b40}.site__title:active span{color:#959595}}.main-nav__controller--close,.main-nav__controller--open{border:1px solid #333;border-radius:7px;color:#333;display:block;font-size:1.25em;font-weight:300;float:right;line-height:1;padding:.25rem .5rem;text-decoration:none;text-transform:uppercase}.main-nav__controller--close:visited,.main-nav__controller--open:visited{color:#333}@media (min-width:48em){.main-nav__controller--close,.main-nav__controller--open{display:none;visibility:hidden}}.main-nav__controller--close{border-color:#34cf7c;color:#34cf7c;display:none;font-weight:400}.main-nav__controller--close:focus,.main-nav__controller--close:hover,.main-nav__controller--close:visited{color:#34cf7c}.main-nav .menu{float:right;list-style-type:none;height:0;margin:0;overflow:hidden;padding:0;width:100%}@media (min-width:48em){.main-nav .menu{height:auto;margin-top:.25rem;opacity:0;overflow:visible;width:auto;-webkit-animation:fade-in 1s .5s ease-out forwards;animation:fade-in 1s .5s ease-out forwards}}.main-nav__item{margin-top:.5rem;text-align:right}@media (min-width:48em){.main-nav__item{display:inline-block;text-align:left}}.main-nav__item>a{color:#333;font-family:"Roboto Condensed",sans-serif;font-size:1.25em;text-decoration:none;text-transform:uppercase}.main-nav__item>a:active{color:#959595}.main-nav__item>a:visited{color:#333}@media (min-width:48em){.main-nav__item>a{font-family:Roboto,sans-serif;font-size:1.5em;font-weight:300;padding:.25rem .5rem;margin:0 .5rem;text-decoration:none;text-transform:lowercase}.main-nav__item>a:last-child{margin-right:0}.main-nav__item>a:focus,.main-nav__item>a:hover{border-bottom:1px solid #34cf7c;color:#34cf7c}.main-nav__item>a:active{border-bottom-color:#ff6b40;color:#ff6b40}}.main-nav__item--donate>a{color:#ff6b40;font-weight:400}.main-nav__item--donate.current-menu-item>a:active,.main-nav__item--donate>a:visited{color:#ff6b40}.current-menu-item>a{border-bottom:1px solid #34cf7c;color:#34cf7c}.current-menu-item>a:active{color:#ff6b40}.current-menu-item>a:visited{color:#34cf7c}#masthead:target .main-nav__controller--open{display:none}#masthead:target .main-nav__controller--close{display:block}#masthead:target .main-nav .menu{height:auto}@media (min-width:48em){#masthead:target .main-nav__controller--close,#masthead:target .main-nav__controller--open{display:none}}.page__header{-webkit-box-shadow:inset 0 10px 10px -10px #333,inset 0 -10px 10px -10px #333;box-shadow:inset 0 10px 10px -10px #333,inset 0 -10px 10px -10px #333;background-color:#34cf7c;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#34cf7c),color-stop(100%,#ff6b40));background-image:-webkit-linear-gradient(left,#34cf7c,#ff6b40);background-image:-webkit-gradient(linear,top left,top right,from(#34cf7c),to(#ff6b40));background-image:-webkit-linear-gradient(left,#34cf7c,#ff6b40);background-image:linear-gradient(to right,#34cf7c,#ff6b40)}.page__title{color:#fefefe;line-height:1;margin:0 auto;padding:1.5rem 1rem}@media (min-width:48em){.page__title{font-size:7.59375em;max-width:60rem;opacity:0;padding:5.0625rem 1rem;text-align:center;-webkit-animation:fade-in 1s .5s ease-out forwards;animation:fade-in 1s .5s ease-out forwards}}.page__wrapper{margin:1rem auto 0;padding:0 1rem;width:100%;*zoom:1}.page__wrapper:after,.page__wrapper:before{content:" ";display:table}.page__wrapper:after{clear:both}@media (min-width:48em){.page__wrapper{margin:2.25rem auto 0;max-width:60rem}}.page__wrapper .page__wrapper{max-width:100%;padding:0}.page__inner-heading{margin-bottom:.5rem}.hentry{margin:0 0 1.5em}.byline,.updated{display:none}.group-blog .byline,.single .byline{display:inline}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.archive .format-aside .entry-title,.blog .format-aside .entry-title{display:none}.comment-content img.wp-smiley,.entry-content img.wp-smiley,.page-content img.wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}.wp-caption{border:1px solid #ccc;margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin:1.2% auto 0;max-width:98%}.wp-caption-text{text-align:center}.wp-caption .wp-caption-text{margin:.8075em 0}.site-main .gallery{margin-bottom:1.5em}.site-main .gallery a img{border:0;height:auto;max-width:90%}.site-main .gallery dd,.site-main .gallery figcaption{margin:0}embed,iframe,object{max-width:100%}.site-main .comment-navigation,.site-main .paging-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.paging-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.paging-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}.comment-content a{word-wrap:break-word}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer,.widget_search .search-submit{display:none}.infinity-end.neverending .site-footer{display:block}